body {
    background-image: url("../imagens/360_F_163304780_tqLFXao7SrXHjbIeAX9uF8OClsEKN136-removebg-preview.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: black;
    margin: 0px;
    padding: 0px;
}